.layer-container {
    width: 1fr;
    height: 1fr;
    padding-horiz: 5px;
}

.layer-box {
    width: 1fr;
    height: 36px;

    border-width: 1px;
    border-color: black;

    margin-top: 2px;
}

.layer-box-stub {
    dimen: 1fr;
    background-color: #464646;
    align-items: center;
    flex-direction: row;

    overflow: hidden;
}

.layer-box-stub:hover {
    background-color: #646464;
}

.layer-box-stub:active {
    background-color: #6495ED;
}

.layer-toggle-box {
    width: 30px;
    height: 1fr;
    background-color: slategray;
    padding: 2px;
    align: center;

    border-right-width: 1px;
    border-color: black;
}

.layer-toggle-box:hover {
    background-color: #8a9cad;
}

.layer-toggle-box:active {
    background-color: #9baec0;
}

.layer-eye-open, .layer-eye-close {
    dimen: 1fr;
    aspect-ratio: 1;
}

.layer-eye-open {
    texture: 'eye-open';
}

.layer-eye-close {
    texture: 'eye-close';
}

.layer-image {
    height: 90%;
    aspect-ratio: 16 / 9;
    margin-horiz: 5px;
}

.layer-text {
    font-size: 16px;
    color: ghostwhite;
}

.layer-buttons-container {
    border-top-width: 1px;
    border-color: gray;
    width: 1fr;
    height: 40px;
    padding: 5px;
    align-items: center;
}

.layer-button {
    dimen: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #00C0E0;

    margin-left: 5px;
}

.layer-button:hover {
    background-color: #7ecee5;
}

.layer-button:active {
    background-color: #9adbef;
}