.color-picker-container {
    dimen: 1fr;
    background-color: #494949;
    align-items: center;
    padding: 5px;
}

.color-picker-current-display-block {
    width: 20px;
    height: 40px;
    border-width: 1px;
    border-color: black;
    margin-right: 3px;
}

.color-picker-circle {
    dimen: 1fr;
    aspect-ratio: 1 / 1;
    margin-bottom: 5px;
}

.color-picker-readout-input {
    font-size: 20px;
    width: 1fr;
    margin-right: 5px;
    overflow: hidden;
    border-color: lightgrey;
    color: lightgrey;
    background-color: #656c6c;
}

.color-picker-readout-copy-btn-hover {
    border-radius: 3px;
    background-color: lightslategray;
}

.color-picker-color-circle-border {
    position: relative;

    dimen: 14px;
    border-radius: 7px;
    background-color: black;
    align: center;
}
.color-picker-color-circle-outer {
    dimen: 12px;
    border-radius: 6px;
    background-color: ghostwhite;
    align: center;
}
.color-picker-color-circle-inner {
    dimen: 6px;
    border-radius: 3px;
    background-color: red;
    align: center;
}

.copy-alert-popup {
    background-color: #9a7ea2;
    color: ghostwhite;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px;
}