.color-picker-container {
    dimen: 1fr;
    background-color: darkgrey;
    align-items: center;
    padding: 5px;
}

.color-picker-current-display-block {
    width: 20px;
    height: 40px;
    border-width: 1px;
    border-color: black;
    margin-right: 3px;
}

.color-picker-circle {
    dimen: 1fr;
    aspect-ratio: 1 / 1;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: #00FF00;
}

.color-picker-readout-input {
    font-size: 20px;
    width: 1fr;
    margin-right: 5px;
    overflow: hidden;
}

.color-picker-readout-copy-btn-hover {
    border-radius: 3px;
    background-color: lightslategray;
}