.fill {
    dimen: 1fr;
}

.fill-width {
    width: 1fr;
}

.fill-height {
    height: 1fr;
}

.d-50 {
    dimen: 50%;
}

.center {
    align: center;
}

.h-line {
    width: 1fr;
    height: 1px;
    background-color: white;
}

.v-line {
    width: 1px;
    height: 1fr;
    background-color: white;
}

.square {
    aspect-ratio: 1 / 1;
}